.cart-item-info h4,
p,
button {
    text-align: left;
    margin-top: 10px;
}

.cart-action-buttons button {
    margin-right: 10px;
}

.cart-empty-container h2,
p {
    margin-top: 10px;
}

.btn-back-to-shop {
    display: inline-block;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-back-to-shop:hover {
    text-decoration: underline;
}

.item-cart-img {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item-cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cart-item-card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 15px 0;
}

.cart-items-list {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-qty {
    margin-left: 5px;
}