header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #1a1a1a; 
  border-bottom: 1px solid #c7b299;
  margin-bottom: 30px;
  user-select: none;
}

.logo{
  width: auto;
  height: 100px;
}