header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #1a1a1a;
  border-bottom: 1px solid #c7b299;
  margin-bottom: 30px;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: auto;
  height: 100px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 10px;
  }

  .logo {
    height: 70px;
  }
}