footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

footer p {
  margin-left: 10px;
  padding: 20px;
}

.nav-list-footer {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-right: 80px;
}

.icon-gold {
  font-size: 1.8rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-gold:hover {
  color: #ffffff;
  transform: translateY(-2px);
}